# Dependabot reviewers (migrated from .github/dependabot.yml)
/Pipfile.lock @CTaylor1118
/action.yaml @CTaylor1118
/action.yml @CTaylor1118
/pyproject.toml @CTaylor1118
/requirements.txt @CTaylor1118
/setup.cfg @CTaylor1118
/setup.py @CTaylor1118
/Pipfile @CTaylor1118
/requirements/*.txt @CTaylor1118
/.github/workflows/*.yaml @CTaylor1118
/.github/workflows/*.yml @CTaylor1118
/**/requirements/*.txt @CTaylor1118
/**/.github/workflows/*.yaml @CTaylor1118
/**/.github/workflows/*.yml @CTaylor1118